In [9]:
import pandas as pd

In [10]:
## 311 idling complaints from 1/1/15 to 5/5/25- filtered for Manhattan
df = pd.read_csv("311-data.csv")
df

/var/folders/7k/dkrw1dkn70xb44njcjrldx2w0000gn/T/ipykernel_43601/1595000879.py:2: DtypeWarning: Columns (18,20,31) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("311-data.csv")

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location
0,64837714,05/03/2025 11:59:00 AM,NaN,DEP,Department of Environmental Protection,Air Quality,"Air: Odor/Fumes, Vehicle Idling (AD3)",NaN,10012.0,144 BLEECKER STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.728155,-73.999152,"(40.7281548671045, -73.99915212570546)"
1,64837178,05/03/2025 10:18:59 AM,05/04/2025 12:20:20 AM,NYPD,New York City Police Department,Noise - Vehicle,Engine Idling,Street/Sidewalk,10033.0,547 WEST 180 STREET,...,Car,NaN,NaN,NaN,NaN,NaN,NaN,40.848212,-73.933237,"(40.84821206532693, -73.93323679252005)"
2,64832157,05/03/2025 10:15:22 AM,05/03/2025 10:28:49 AM,NYPD,New York City Police Department,Noise - Vehicle,Engine Idling,Street/Sidewalk,10012.0,70 SPRING STREET,...,Car,NaN,NaN,NaN,NaN,NaN,NaN,40.722473,-73.997554,"(40.72247319695122, -73.99755400100646)"
3,64833109,05/03/2025 10:13:38 AM,05/03/2025 10:28:45 AM,NYPD,New York City Police Department,Noise - Vehicle,Engine Idling,Street/Sidewalk,10012.0,70 SPRING STREET,...,Car,NaN,NaN,NaN,NaN,NaN,NaN,40.722473,-73.997554,"(40.72247319695122, -73.99755400100646)"
4,64832165,05/03/2025 10:11:12 AM,05/03/2025 10:28:29 AM,NYPD,New York City Police Department,Noise - Vehicle,Engine Idling,Street/Sidewalk,10012.0,68 SPRING STREET,...,Car,NaN,NaN,NaN,NaN,NaN,NaN,40.722443,-73.997482,"(40.72244300305546, -73.99748184878467)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52529,29621685,01/02/2015 11:56:39 PM,01/03/2015 12:15:49 AM,NYPD,New York City Police Department,Noise - Vehicle,Engine Idling,Street/Sidewalk,10037.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.818511,-73.937645,"(40.818511252671556, -73.9376453944693)"
52530,29624212,01/02/2015 01:42:08 PM,01/02/2015 03:16:56 PM,NYPD,New York City Police Department,Noise - Vehicle,Engine Idling,Street/Sidewalk,10027.0,240 WEST 129 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.811857,-73.947322,"(40.81185738723474, -73.94732232850336)"
52531,29624242,01/02/2015 09:47:16 AM,01/02/2015 12:26:09 PM,NYPD,New York City Police Department,Noise - Vehicle,Engine Idling,Street/Sidewalk,10027.0,WEST 129 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52532,29618674,01/02/2015 06:52:00 AM,01/05/2015 03:45:00 PM,DEP,Department of Environmental Protection,Air Quality,"Air: Odor/Fumes, Vehicle Idling (AD3)",NaN,10025.0,WEST 93 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.790330,-73.967512,"(40.790329719081015, -73.96751233836237)"
52533,29619207,01/02/2015 06:40:50 AM,01/02/2015 07:35:20 AM,NYPD,New York City Police Department,Noise - Vehicle,Engine Idling,Street/Sidewalk,10025.0,WEST 93 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.790330,-73.967512,"(40.790329719081015, -73.96751233836237)"

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52534 entries, 0 to 52533
Data columns (total 41 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Unique Key                      52534 non-null  int64
 1   Created Date                    52534 non-null  object
 2   Closed Date                     52451 non-null  object
 3   Agency                          52534 non-null  object
 4   Agency Name                     52534 non-null  object
 5   Complaint Type                  52534 non-null  object
 6   Descriptor                      52534 non-null  object
 7   Location Type                   30158 non-null  object
 8   Incident Zip                    52474 non-null  float64
 9   Incident Address                48166 non-null  object
 10  Street Name                     48166 non-null  object
 11  Cross Street 1                  48591 non-null  object
 12  Cross Street 2                  48594 non-null  object
 13  Intersection Street 1           24048 non-null  object
 14  Intersection Street 2           24053 non-null  object
 15  Address Type                    44548 non-null  object
 16  City                            48638 non-null  object
 17  Landmark                        15706 non-null  object
 18  Facility Type                   10972 non-null  object
 19  Status                          52534 non-null  object
 20  Due Date                        11158 non-null  object
 21  Resolution Description          52517 non-null  object
 22  Resolution Action Updated Date  52516 non-null  object
 23  Community Board                 52534 non-null  object
 24  BBL                             41989 non-null  float64
 25  Borough                         52534 non-null  object
 26  X Coordinate (State Plane)      51861 non-null  float64
 27  Y Coordinate (State Plane)      51861 non-null  float64
 28  Open Data Channel Type          52534 non-null  object
 29  Park Facility Name              52534 non-null  object
 30  Park Borough                    52534 non-null  object
 31  Vehicle Type                    4021 non-null   object
 32  Taxi Company Borough            0 non-null      float64
 33  Taxi Pick Up Location           0 non-null      float64
 34  Bridge Highway Name             0 non-null      float64
 35  Bridge Highway Direction        0 non-null      float64
 36  Road Ramp                       0 non-null      float64
 37  Bridge Highway Segment          0 non-null      float64
 38  Latitude                        51861 non-null  float64
 39  Longitude                       51861 non-null  float64
 40  Location                        51861 non-null  object
dtypes: float64(12), int64(1), object(28)
memory usage: 16.4+ MB

In [12]:
df.value_counts("Vehicle Type")

Vehicle Type
Car      1882
Truck    1482
Other     511
Van       106
SUV        40
Name: count, dtype: int64

In [13]:
## extract the year from the created_date column
## the format thing is because it was giving a warning that pandas was confused about the format, i asked chatgpt what to do

df["Created Date"] = pd.to_datetime(df["Created Date"], errors="coerce")

df["Year"] = df["Created Date"].dt.year
df["Year"]

0        2025
1        2025
2        2025
3        2025
4        2025
         ...
52529    2015
52530    2015
52531    2015
52532    2015
52533    2015
Name: Year, Length: 52534, dtype: int32

In [14]:
##trying to do the same with month as well, so can try to see data for the same months changes the findings. (Before, I was comparing 
# 12 months data from prev years to 4 months data from 2025.
df["Created Date"] = pd.to_datetime(df["Created Date"], errors="coerce")

df["Month"] = df["Created Date"].dt.month
df["Month"]

0        5
1        5
2        5
3        5
4        5
        ..
52529    1
52530    1
52531    1
52532    1
52533    1
Name: Month, Length: 52534, dtype: int32

In [15]:
## checking to see if 'Year' got added as a column in the df -- yes!
## gave it a list instead of creating another df
df.head()[["Year", "Month", "Cross Street 1", "Cross Street 2", "Street Name", "Incident Zip", "Incident Address", "Unique Key"]]

,Year,Month,Cross Street 1,Cross Street 2,Street Name,Incident Zip,Incident Address,Unique Key
0,2025,5,LA GUARDIA PL,THOMPSON ST,BLEECKER STREET,10012.0,144 BLEECKER STREET,64837714
1,2025,5,AUDUBON AVENUE,ST NICHOLAS AVENUE,WEST 180 STREET,10033.0,547 WEST 180 STREET,64837178
2,2025,5,CLEVELAND PLACE,CROSBY STREET,SPRING STREET,10012.0,70 SPRING STREET,64832157
3,2025,5,CLEVELAND PLACE,CROSBY STREET,SPRING STREET,10012.0,70 SPRING STREET,64833109
4,2025,5,CLEVELAND PLACE,CROSBY STREET,SPRING STREET,10012.0,68 SPRING STREET,64832165

In [16]:
## Adding a column called updated_date for mm/yyyy instead of created date
## combining month and year, used claude to help with code for lambda 

df["updated_date"] = df.apply(lambda x: f"{x['Month']:02d}/{str(x['Year'])}", axis=1)
df

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location,Year,Month,updated_date
0,64837714,2025-05-03 11:59:00,NaN,DEP,Department of Environmental Protection,Air Quality,"Air: Odor/Fumes, Vehicle Idling (AD3)",NaN,10012.0,144 BLEECKER STREET,...,NaN,NaN,NaN,NaN,40.728155,-73.999152,"(40.7281548671045, -73.99915212570546)",2025,5,05/2025
1,64837178,2025-05-03 10:18:59,05/04/2025 12:20:20 AM,NYPD,New York City Police Department,Noise - Vehicle,Engine Idling,Street/Sidewalk,10033.0,547 WEST 180 STREET,...,NaN,NaN,NaN,NaN,40.848212,-73.933237,"(40.84821206532693, -73.93323679252005)",2025,5,05/2025
2,64832157,2025-05-03 10:15:22,05/03/2025 10:28:49 AM,NYPD,New York City Police Department,Noise - Vehicle,Engine Idling,Street/Sidewalk,10012.0,70 SPRING STREET,...,NaN,NaN,NaN,NaN,40.722473,-73.997554,"(40.72247319695122, -73.99755400100646)",2025,5,05/2025
3,64833109,2025-05-03 10:13:38,05/03/2025 10:28:45 AM,NYPD,New York City Police Department,Noise - Vehicle,Engine Idling,Street/Sidewalk,10012.0,70 SPRING STREET,...,NaN,NaN,NaN,NaN,40.722473,-73.997554,"(40.72247319695122, -73.99755400100646)",2025,5,05/2025
4,64832165,2025-05-03 10:11:12,05/03/2025 10:28:29 AM,NYPD,New York City Police Department,Noise - Vehicle,Engine Idling,Street/Sidewalk,10012.0,68 SPRING STREET,...,NaN,NaN,NaN,NaN,40.722443,-73.997482,"(40.72244300305546, -73.99748184878467)",2025,5,05/2025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52529,29621685,2015-01-02 23:56:39,01/03/2015 12:15:49 AM,NYPD,New York City Police Department,Noise - Vehicle,Engine Idling,Street/Sidewalk,10037.0,NaN,...,NaN,NaN,NaN,NaN,40.818511,-73.937645,"(40.818511252671556, -73.9376453944693)",2015,1,01/2015
52530,29624212,2015-01-02 13:42:08,01/02/2015 03:16:56 PM,NYPD,New York City Police Department,Noise - Vehicle,Engine Idling,Street/Sidewalk,10027.0,240 WEST 129 STREET,...,NaN,NaN,NaN,NaN,40.811857,-73.947322,"(40.81185738723474, -73.94732232850336)",2015,1,01/2015
52531,29624242,2015-01-02 09:47:16,01/02/2015 12:26:09 PM,NYPD,New York City Police Department,Noise - Vehicle,Engine Idling,Street/Sidewalk,10027.0,WEST 129 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,1,01/2015
52532,29618674,2015-01-02 06:52:00,01/05/2015 03:45:00 PM,DEP,Department of Environmental Protection,Air Quality,"Air: Odor/Fumes, Vehicle Idling (AD3)",NaN,10025.0,WEST 93 STREET,...,NaN,NaN,NaN,NaN,40.790330,-73.967512,"(40.790329719081015, -73.96751233836237)",2015,1,01/2015
52533,29619207,2015-01-02 06:40:50,01/02/2015 07:35:20 AM,NYPD,New York City Police Department,Noise - Vehicle,Engine Idling,Street/Sidewalk,10025.0,WEST 93 STREET,...,NaN,NaN,NaN,NaN,40.790330,-73.967512,"(40.790329719081015, -73.96751233836237)",2015,1,01/2015

In [17]:
## adding seasonal df that includes data for only jan-apr  
## I only wanted mm-yyyy, this is why updated_date shows 01 as date for all rows because Pandas doesn't get day 
#information, it automatically defaults to the 1st day of the month

df['updated_date'] = pd.to_datetime(df['updated_date'], format='%m/%Y') ## this converts the column to date-time format
seasonal_df = df[df['updated_date'].dt.month.isin([1, 2, 3, 4])]
seasonal_df

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location,Year,Month,updated_date
56,64804719,2025-04-30 19:15:10,04/30/2025 08:43:57 PM,NYPD,New York City Police Department,Noise - Vehicle,Engine Idling,Street/Sidewalk,10002.0,155 RIDGE STREET,...,NaN,NaN,NaN,NaN,40.720334,-73.982500,"(40.72033372596076, -73.98249976357808)",2025,4,2025-04-01
57,64803461,2025-04-30 15:56:21,04/30/2025 05:43:55 PM,NYPD,New York City Police Department,Noise - Vehicle,Engine Idling,Street/Sidewalk,10029.0,1405 PARK AVENUE,...,NaN,NaN,NaN,NaN,40.791797,-73.948703,"(40.79179680318756, -73.94870332030196)",2025,4,2025-04-01
58,64810204,2025-04-30 14:54:07,04/30/2025 10:05:33 PM,NYPD,New York City Police Department,Noise - Vehicle,Engine Idling,Street/Sidewalk,10031.0,452 WEST 147 STREET,...,NaN,NaN,NaN,NaN,40.826102,-73.945663,"(40.826101709196, -73.94566339279595)",2025,4,2025-04-01
59,64802073,2025-04-30 13:36:57,04/30/2025 02:24:29 PM,NYPD,New York City Police Department,Noise - Vehicle,Engine Idling,Street/Sidewalk,10025.0,312 WEST 97 STREET,...,NaN,NaN,NaN,NaN,40.796070,-73.973071,"(40.796070382470624, -73.97307148824783)",2025,4,2025-04-01
60,64800566,2025-04-30 12:38:00,05/01/2025 08:57:00 AM,DEP,Department of Environmental Protection,Air Quality,"Air: Odor/Fumes, Vehicle Idling (AD3)",NaN,10128.0,1440 LEXINGTON AVENUE,...,NaN,NaN,NaN,NaN,40.784401,-73.952013,"(40.784401174689876, -73.95201310517619)",2025,4,2025-04-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52529,29621685,2015-01-02 23:56:39,01/03/2015 12:15:49 AM,NYPD,New York City Police Department,Noise - Vehicle,Engine Idling,Street/Sidewalk,10037.0,NaN,...,NaN,NaN,NaN,NaN,40.818511,-73.937645,"(40.818511252671556, -73.9376453944693)",2015,1,2015-01-01
52530,29624212,2015-01-02 13:42:08,01/02/2015 03:16:56 PM,NYPD,New York City Police Department,Noise - Vehicle,Engine Idling,Street/Sidewalk,10027.0,240 WEST 129 STREET,...,NaN,NaN,NaN,NaN,40.811857,-73.947322,"(40.81185738723474, -73.94732232850336)",2015,1,2015-01-01
52531,29624242,2015-01-02 09:47:16,01/02/2015 12:26:09 PM,NYPD,New York City Police Department,Noise - Vehicle,Engine Idling,Street/Sidewalk,10027.0,WEST 129 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,1,2015-01-01
52532,29618674,2015-01-02 06:52:00,01/05/2015 03:45:00 PM,DEP,Department of Environmental Protection,Air Quality,"Air: Odor/Fumes, Vehicle Idling (AD3)",NaN,10025.0,WEST 93 STREET,...,NaN,NaN,NaN,NaN,40.790330,-73.967512,"(40.790329719081015, -73.96751233836237)",2015,1,2015-01-01
52533,29619207,2015-01-02 06:40:50,01/02/2015 07:35:20 AM,NYPD,New York City Police Department,Noise - Vehicle,Engine Idling,Street/Sidewalk,10025.0,WEST 93 STREET,...,NaN,NaN,NaN,NaN,40.790330,-73.967512,"(40.790329719081015, -73.96751233836237)",2015,1,2015-01-01

In [18]:
seasonal_df.columns

Index(['Unique Key', 'Created Date', 'Closed Date', 'Agency', 'Agency Name',
       'Complaint Type', 'Descriptor', 'Location Type', 'Incident Zip',
       'Incident Address', 'Street Name', 'Cross Street 1', 'Cross Street 2',
       'Intersection Street 1', 'Intersection Street 2', 'Address Type',
       'City', 'Landmark', 'Facility Type', 'Status', 'Due Date',
       'Resolution Description', 'Resolution Action Updated Date',
       'Community Board', 'BBL', 'Borough', 'X Coordinate (State Plane)',
       'Y Coordinate (State Plane)', 'Open Data Channel Type',
       'Park Facility Name', 'Park Borough', 'Vehicle Type',
       'Taxi Company Borough', 'Taxi Pick Up Location', 'Bridge Highway Name',
       'Bridge Highway Direction', 'Road Ramp', 'Bridge Highway Segment',
       'Latitude', 'Longitude', 'Location', 'Year', 'Month', 'updated_date'],
      dtype='object')

In [19]:
## make a list of the roads that run vertically- these will remain the same throughout- north_south, low_sixties, high_sixties, seventies etc.
## Before that I need to know all the roads that run north-south in manhattan, they change names- listed in a tab on the excel sheet.
## Then, I need to match the formatting in which it is mentioned in the dataset ( 8 ave vs. 8 avenue etc)

north_south = ["12 AVENUE", "11 AVENUE", "ELEVENTH AVENUE", "WEST END AVENUE", "10 AVENUE", "TENTH AVENUE", "AMSTERDAM AVE", \
               "AMSTERDAM AVENUE", "9 AVE", "9 AVENUE", "NINTH AVENUE", "COLUMBUS AVENUE", "8 AVE", "8 AVENUE", "CENTRAL PARK WEST", \
               "7 AVE", 
"7 AVENUE"
"SEVENTH AVENUE",
"6 AVE",
"6 AVENUE",
"SIXTH AVENUE",
"5 AVE",
"5 AVENUE",
"FIFTH AVENUE",
"PARK AVE S",
"PARK AVENUE",
"PARK AVENUE SOUTH",
"LEXINGTON AVE",
"LEXINGTON AVENUE",
"3 AVE",
"3 AVENUE",
"3RD AVENUE",
"THIRD AVENUE",
"2 AVENUE",
"2ND AVENUE",
"SECOND AVENUE",
"1 AVE",
"1 AVENUE",
"FIRST AVENUE",
"MADISON AVE",
"MADISON AVENUE",
"BROADWAY"]

low_sixties = ["W 61 STREET", "WEST 61 STREET", "EAST  61 STREET", "E 61 STREET", "WEST 62 STREET",  "W 62 STREET", "WEST  62 STREET",\
               "E 62 ST", "EAST  62 STREET", "W 63 ST", "WEST 63 STREET", "WEST  63 STREET", "E 63 STREET", "EAST 63 STREET", \
               "EAST  63 STREET", "WEST 64 STREET", "WEST  64 STREET", "W 64 ST", "EAST 64 STREET", "EAST  64 STREET", "E 64 ST", \
              "WEST 65 STREET", "WEST  65 STREET", "W 65 ST", "EAST 65 STREET", "EAST  65 STREET", "E 65 ST"]

# Did not include 60th st in this because that would include 59th st as a cross street- cross streets here are the streets running 
# above and below the street name.

df_low_sixties = seasonal_df[["Year", "Month", "updated_date", "Cross Street 1", "Cross Street 2", "Street Name", "Incident Zip", "Incident Address", "Unique Key"]].query \
                                    (" (`Street Name` in @north_south) \
                                    and ( (`Cross Street 1` in @low_sixties) \
                                     or  (`Cross Street 2` in @low_sixties) ) ")
df_low_sixties

,Year,Month,updated_date,Cross Street 1,Cross Street 2,Street Name,Incident Zip,Incident Address,Unique Key
11988,2023,4,2023-04-01,E 64 ST,E 65 ST,2 AVENUE,10065.0,1239 2 AVENUE,57282030
12708,2023,3,2023-03-01,E 63 ST,E 64 ST,2 AVENUE,10065.0,1202 2 AVENUE,56983749
20859,2022,2,2022-02-01,E 61 ST,E 62 ST,MADISON AVENUE,10065.0,680 MADISON AVENUE,53445182
33669,2020,4,2020-04-01,W 64 ST,W 65 ST,WEST END AVENUE,10023.0,106 WEST END AVENUE,46020786
38073,2019,3,2019-03-01,EAST 62 STREET,EAST 63 STREET,LEXINGTON AVENUE,10065.0,817 LEXINGTON AVENUE,41919147
38695,2019,1,2019-01-01,EAST 65 STREET,EAST 66 STREET,PARK AVENUE,10065.0,625 PARK AVENUE,41424114
38724,2019,1,2019-01-01,EAST 65 STREET,EAST 66 STREET,PARK AVENUE,10065.0,625 PARK AVENUE,41400351
41574,2018,4,2018-04-01,EAST 65 STREET,EAST 66 STREET,1 AVENUE,10065.0,1220 1 AVENUE,38895084
42143,2018,2,2018-02-01,COLUMBUS CIRCLE,WEST 61 STREET,CENTRAL PARK WEST,10023.0,1 CENTRAL PARK WEST,38513842
42557,2018,1,2018-01-01,WEST 61 STREET,WEST 61 DRIVE,WEST END AVENUE,10023.0,33 WEST END AVENUE,38114052
45321,2017,4,2017-04-01,THELONIOUS MONK CIR,W 64 ST,WEST END AVENUE,10023.0,88 WEST END AVENUE,35886528
45926,2017,1,2017-01-01,WEST 61 STREET,WEST 62 STREET,BROADWAY,10023.0,1865 BROADWAY,35383094
49169,2016,3,2016-03-01,COLUMBUS CIRCLE,WEST 61 STREET,CENTRAL PARK WEST,10023.0,1 CENTRAL PARK WEST,32973552
49170,2016,3,2016-03-01,COLUMBUS CIRCLE,WEST 61 STREET,CENTRAL PARK WEST,10023.0,1 CENTRAL PARK WEST,32974568
49180,2016,3,2016-03-01,COLUMBUS CIRCLE,WEST 61 STREET,CENTRAL PARK WEST,10023.0,1 CENTRAL PARK WEST,32961233
49181,2016,3,2016-03-01,COLUMBUS CIRCLE,WEST 61 STREET,CENTRAL PARK WEST,10023.0,1 CENTRAL PARK WEST,32962243
49197,2016,3,2016-03-01,COLUMBUS CIRCLE,WEST 61 STREET,CENTRAL PARK WEST,10023.0,1 CENTRAL PARK WEST,32946075
49198,2016,3,2016-03-01,COLUMBUS CIRCLE,WEST 61 STREET,CENTRAL PARK WEST,10023.0,1 CENTRAL PARK WEST,32940466
49206,2016,3,2016-03-01,COLUMBUS CIRCLE,WEST 61 STREET,CENTRAL PARK WEST,10023.0,1 CENTRAL PARK WEST,32938675
51817,2015,4,2015-04-01,EAST 63 STREET,EAST 64 STREET,PARK AVENUE,10065.0,583 PARK AVENUE,30358301

In [20]:
## Now, do the same with high_sixties 

high_sixties = ["WEST 66 STREET", "WEST  66 STREET", "W 66 ST", "EAST 66 STREET", "EAST  66 STREET", "E 66 ST", "WEST 67 STREET", \
                "WEST  67 STREET", "EAST 67 STREET", "EAST  67 STREET", "W 67 ST", "E 67 ST", \
                "WEST 68 STREET", "WEST  68 STREET", "W 68 ST", "EAST 68 STREET", "EAST  68 STREET", "E 68 ST", \
                "WEST 69 STREET", "WEST  69 STREET", "W 69 ST", "EAST 69 STREET", "EAST  69 STREET", "E 69 ST" \
                "WEST 70 STREET", "WEST  70 STREET", "W 70 ST", "EAST 70 STREET", "EAST  70 STREET", "E 70 ST"]

df_high_sixties = seasonal_df[["Year", "Month", "updated_date","Cross Street 1", "Cross Street 2", "Street Name", "Incident Zip", "Incident Address", "Unique Key"]].query(" (`Street Name` in @north_south) \
                                    and ( (`Cross Street 1` in @high_sixties) \
                                     or  (`Cross Street 2` in @high_sixties) ) ")
df_high_sixties

,Year,Month,updated_date,Cross Street 1,Cross Street 2,Street Name,Incident Zip,Incident Address,Unique Key
5114,2024,4,2024-04-01,E 66 ST,E 67 ST,MADISON AVENUE,10065.0,790 MADISON AVENUE,60946613
11911,2023,4,2023-04-01,E 70 ST,E 71 ST,PARK AVENUE,10021.0,720 PARK AVENUE,57302862
13778,2023,1,2023-01-01,W 67 ST,W 68 ST,CENTRAL PARK WEST,10023.0,75 CENTRAL PARK WEST,56486668
20380,2022,3,2022-03-01,E 70 ST,E 71 ST,LEXINGTON AVENUE,10021.0,962 LEXINGTON AVENUE,53625023
29215,2021,4,2021-04-01,E 70 ST,E 71 ST,1 AVENUE,10021.0,1317 1 AVENUE,50284103
29743,2021,3,2021-03-01,W 66 ST,W 70 ST,WEST END AVENUE,10023.0,185 WEST END AVENUE,50070511
34123,2020,2,2020-02-01,E 67 ST,E 68 ST,5 AVENUE,10065.0,860 5 AVENUE,45711497
34432,2020,1,2020-01-01,E 66 ST,E 67 ST,PARK AVENUE,10065.0,650 PARK AVENUE,45508797
37382,2019,4,2019-04-01,E 70 ST,E 71 ST,2 AVENUE,10021.0,1328 2 AVENUE,42504643
37654,2019,4,2019-04-01,W 69 ST,W 70 ST,AMSTERDAM AVENUE,10023.0,200 AMSTERDAM AVENUE,42178035
38104,2019,3,2019-03-01,EAST 68 STREET,EAST 69 STREET,LEXINGTON AVENUE,10065.0,929 LEXINGTON AVENUE,41886102
38120,2019,3,2019-03-01,W 66 ST,W 68 ST,AMSTERDAM AVENUE,10023.0,170 AMSTERDAM AVENUE,41880505
38695,2019,1,2019-01-01,EAST 65 STREET,EAST 66 STREET,PARK AVENUE,10065.0,625 PARK AVENUE,41424114
38724,2019,1,2019-01-01,EAST 65 STREET,EAST 66 STREET,PARK AVENUE,10065.0,625 PARK AVENUE,41400351
41574,2018,4,2018-04-01,EAST 65 STREET,EAST 66 STREET,1 AVENUE,10065.0,1220 1 AVENUE,38895084
42414,2018,1,2018-01-01,E 68 ST,E 69 ST,PARK AVENUE,10065.0,695 PARK AVENUE,38283048
42422,2018,1,2018-01-01,E 68 ST,E 69 ST,PARK AVENUE,10065.0,695 PARK AVENUE,38277922
42563,2018,1,2018-01-01,EAST 70 STREET,EAST 71 STREET,1 AVENUE,10021.0,1315 1 AVENUE,38107548
45050,2017,4,2017-04-01,EAST 69 STREET,EAST 70 STREET,LEXINGTON AVENUE,10021.0,955 LEXINGTON AVENUE,36061827
45213,2017,4,2017-04-01,EAST 69 STREET,EAST 70 STREET,LEXINGTON AVENUE,10021.0,955 LEXINGTON AVENUE,35956041
45280,2017,4,2017-04-01,WEST 66 STREET,WEST 67 STREET,CENTRAL PARK WEST,10023.0,65 CENTRAL PARK WEST,35909477
45288,2017,4,2017-04-01,EAST 69 STREET,EAST 70 STREET,LEXINGTON AVENUE,10021.0,960 LEXINGTON AVENUE,35908927
45780,2017,2,2017-02-01,WEST 66 STREET,WEST 67 STREET,CENTRAL PARK WEST,10023.0,66 CENTRAL PARK WEST,35509805
49243,2016,3,2016-03-01,EAST 69 STREET,EAST 70 STREET,LEXINGTON AVENUE,10021.0,955 LEXINGTON AVENUE,32903797
51620,2015,4,2015-04-01,E 70 ST,E 71 ST,3 AVENUE,10003.0,121 3 AVENUE,30513428
51682,2015,4,2015-04-01,E 70 ST,E 71 ST,3 AVENUE,10003.0,121 3 AVENUE,30459740
51762,2015,4,2015-04-01,E 70 ST,E 71 ST,3 AVENUE,10003.0,121 3 AVENUE,30400320
51813,2015,4,2015-04-01,E 70 ST,E 71 ST,3 AVENUE,10003.0,121 3 AVENUE,30366538
52018,2015,3,2015-03-01,EAST 68 STREET,EAST 69 STREET,1 AVENUE,10065.0,1 AVENUE,30182900
52321,2015,2,2015-02-01,WEST 66 STREET,WEST 67 STREET,BROADWAY,10023.0,1965 BROADWAY,29842264
52375,2015,1,2015-01-01,E 67 ST,E 68 ST,MADISON AVENUE,10065.0,809 MADISON AVENUE,29783941
52426,2015,1,2015-01-01,EAST 67 STREET,EAST 68 STREET,3 AVENUE,10065.0,3 AVENUE,29747324

In [21]:
### QUES/NOTICING: No complaints in these areas in 2025??

In [22]:
## Do the same with low seventies

low_seventies = ["WEST 71 STREET", "WEST  71 STREET", "W 71 ST", "EAST 71 STREET", "EAST  71 STREET", "E 71 ST", \
             "WEST 72 STREET", "WEST  72 STREET", "W 72 ST", "CENTRAL PARK EXIT WEST  72 ST", "EAST 72 STREET", "EAST  72 STREET",\
             "E 72 ST", "WEST 73 STREET", "WEST  73 STREET", "W 73 ST", "EAST 73 STREET", "EAST  73 STREET", "E 73 ST", \
             "FDR DRIVE SB ENTRANCE E 73 ST", "FDR DRIVE SB ENTRANCE E  73 ST", "WEST 74 STREET", "WEST  74 STREET", "W 74 ST", \
             "EAST 74 STREET", "EAST  74 STREET", "E 74 ST", "WEST 75 STREET", "WEST  75 STREET", "W 75 ST", "EAST 75 STREET", \
             "EAST  75 STREET", "E 75 ST"]

df_low_seventies = seasonal_df[["Year", "Month","updated_date","Cross Street 1", "Cross Street 2", "Street Name", "Incident Zip", "Incident Address", "Unique Key"]].query(" (`Street Name` in @north_south) \
                                    and ( (`Cross Street 1` in @low_seventies) \
                                     or  (`Cross Street 2` in @low_seventies) ) ")
df_low_seventies

,Year,Month,updated_date,Cross Street 1,Cross Street 2,Street Name,Incident Zip,Incident Address,Unique Key
929,2025,3,2025-03-01,W 74 ST,W 75 ST,WEST END AVENUE,10023.0,315 WEST END AVENUE,64303284
5452,2024,4,2024-04-01,W 75 ST,W 76 ST,WEST END AVENUE,10023.0,325 WEST END AVENUE,60742493
11911,2023,4,2023-04-01,E 70 ST,E 71 ST,PARK AVENUE,10021.0,720 PARK AVENUE,57302862
11912,2023,4,2023-04-01,E 71 ST,E 72 ST,PARK AVENUE,10021.0,740 PARK AVENUE,57307909
13269,2023,2,2023-02-01,E 75 ST,E 76 ST,3 AVENUE,10021.0,1313 3 AVENUE,56717067
...,...,...,...,...,...,...,...,...,...
51866,2015,4,2015-04-01,WEST 72 STREET,WEST 73 STREET,AMSTERDAM AVENUE,10023.0,AMSTERDAM AVENUE,30313587
52003,2015,3,2015-03-01,WEST 74 STREET,WEST 75 STREET,COLUMBUS AVENUE,10023.0,309 COLUMBUS AVENUE,30203034
52204,2015,2,2015-02-01,EAST 73 STREET,EAST 74 STREET,MADISON AVENUE,10021.0,931 MADISON AVENUE,29972127
52205,2015,2,2015-02-01,EAST 73 STREET,EAST 74 STREET,MADISON AVENUE,10021.0,MADISON AVENUE,29969654
52417,2015,1,2015-01-01,AMSTERDAM AVENUE,WEST 72 STREET,BROADWAY,10023.0,2086 BROADWAY,29754755

In [23]:
## Do the same for high seventies streets

high_seventies = ["WEST 76 STREET", "WEST  76 STREET", "W 76 ST", "EAST 76 STREET", "EAST  76 STREET", "E 76 ST", \
                  "WEST 77 STREET", "WEST  77 STREET", "W 77 ST", "EAST 77 STREET", "EAST  77 STREET", "E 77 ST", "CENTRAL PARK W  77 ST",\
                  "WEST 78 STREET", "WEST  78 STREET", "W 78 ST", "EAST 78 STREET", "EAST  78 STREET", "E 78 ST", \
                  "WEST 79 STREET", "WEST  79 STREET", "W 79 ST", "EAST 79 STREET", "EAST  79 STREET", "E 79 ST", "79 ST TRANSVERSE", \
                  "WEST 80 STREET", "WEST  80 STREET", "W 80 ST", "EAST 80 STREET", "EAST  80 STREET", "E 80 ST"]

df_high_seventies = seasonal_df[["Year", "Month","updated_date", "Cross Street 1", "Cross Street 2", "Street Name", "Incident Zip", "Incident Address", "Unique Key"]].query(" (`Street Name` in @north_south) \
                                    and ( (`Cross Street 1` in @high_seventies) \
                                     or  (`Cross Street 2` in @high_seventies) ) ")
df_high_seventies

,Year,Month,updated_date,Cross Street 1,Cross Street 2,Street Name,Incident Zip,Incident Address,Unique Key
5452,2024,4,2024-04-01,W 75 ST,W 76 ST,WEST END AVENUE,10023.0,325 WEST END AVENUE,60742493
6904,2024,1,2024-01-01,W 76 ST,W 77 ST,AMSTERDAM AVENUE,10024.0,353 AMSTERDAM AVENUE,59948000
6905,2024,1,2024-01-01,W 76 ST,W 77 ST,AMSTERDAM AVENUE,10024.0,347 AMSTERDAM AVENUE,59948979
12086,2023,4,2023-04-01,CENTRAL PARK PATH,E 80 ST,5 AVENUE,10075.0,986 5 AVENUE,57248308
12237,2023,3,2023-03-01,E 77 ST,E 78 ST,2 AVENUE,10075.0,1492 2 AVENUE,57184688
...,...,...,...,...,...,...,...,...,...
51761,2015,4,2015-04-01,WEST 79 STREET,WEST 80 STREET,BROADWAY,10024.0,2228 BROADWAY,30398762
51987,2015,3,2015-03-01,W 77 ST,W 78 ST,WEST END AVENUE,10024.0,370 WEST END AVENUE,30225361
52176,2015,2,2015-02-01,W 77 ST,W 78 ST,COLUMBUS AVENUE,10024.0,370 COLUMBUS AVENUE,30010284
52378,2015,1,2015-01-01,WEST 77 STREET,WEST 78 STREET,COLUMBUS AVENUE,10024.0,370 COLUMBUS AVENUE,29776604
52429,2015,1,2015-01-01,WEST 76 STREET,WEST 77 STREET,BROADWAY,10024.0,2171 BROADWAY,29748732

In [24]:
# Do the same for eighties streets

eighties = ["WEST 81 STREET", "WEST  81 STREET", "W 81 ST", "EAST 81 STREET", "EAST  81 STREET", "E 81 ST", \
            "WEST 82 STREET", "WEST  82 STREET", "W 82 ST", "EAST 82 STREET", "EAST  82 STREET", "E 82 ST", \
            "WEST 83 STREET", "WEST  83 STREET", "W 83 ST", "EAST 83 STREET", "EAST  83 STREET", "E 83 ST", \
            "WEST 84 STREET", "WEST  84 STREET", "W 84 ST", "EAST 84 STREET", "EAST  84 STREET", "E 84 ST", \
        "WEST 85 STREET", "WEST  85 STREET", "W 85 ST", "EAST 85 STREET", "EAST  85 STREET", "E 85 ST", "CENTRAL PARK ENTRANCE W 85 ST",\
           "WEST 86 STREET", "WEST  86 STREET", "W 86 ST", "EAST 86 STREET", "EAST  86 STREET", "E 86 ST", "86 ST TRANSVERSE",\
            "WEST 87 STREET", "WEST  87 STREET", "W 87 ST", "EAST 87 STREET", "EAST  87 STREET", "E 87 ST", \
            "WEST 88 STREET", "WEST  88 STREET", "W 88 ST", "EAST 88 STREET", "EAST  88 STREET", "E 88 ST", \
            "WEST 89 STREET", "WEST  89 STREET", "W 89 ST", "EAST 89 STREET", "EAST  89 STREET", "E 89 ST", \
            "WEST 90 STREET", "WEST  90 STREET", "W 90 ST", "EAST 90 STREET", "EAST  90 STREET", "E 90 ST"]

df_eighties = seasonal_df[["Year", "Month", "updated_date", "Cross Street 1", "Cross Street 2", "Street Name", "Incident Zip", "Incident Address", "Unique Key"]].query(" (`Street Name` in @north_south) \
                                    and ( (`Cross Street 1` in @eighties) \
                                     or  (`Cross Street 2` in @eighties) ) ")
df_eighties

,Year,Month,updated_date,Cross Street 1,Cross Street 2,Street Name,Incident Zip,Incident Address,Unique Key
338,2025,4,2025-04-01,E 84 ST,E 85 ST,2 AVENUE,10028.0,1628 2 AVENUE,64648244
346,2025,4,2025-04-01,W 81 ST,W 82 ST,CENTRAL PARK WEST,10024.0,211 CENTRAL PARK WEST,64635920
917,2025,3,2025-03-01,E 85 ST,E 86 ST,5 AVENUE,10028.0,1041 5 AVENUE,64307223
1033,2025,2,2025-02-01,W 86 ST,W 87 ST,BROADWAY,10024.0,2373 BROADWAY,64220827
1184,2025,2,2025-02-01,W 84 ST,W 85 ST,CENTRAL PARK WEST,10024.0,241 CENTRAL PARK WEST,64100684
...,...,...,...,...,...,...,...,...,...
52389,2015,1,2015-01-01,WEST 84 STREET,WEST 85 STREET,AMSTERDAM AVENUE,10024.0,509 AMSTERDAM AVENUE,29778431
52402,2015,1,2015-01-01,WEST 84 STREET,WEST 85 STREET,AMSTERDAM AVENUE,10024.0,509 AMSTERDAM AVENUE,29773626
52421,2015,1,2015-01-01,W 84 ST,W 85 ST,AMSTERDAM AVENUE,10023.0,49 AMSTERDAM AVENUE,29756018
52422,2015,1,2015-01-01,WEST 84 STREET,WEST 85 STREET,AMSTERDAM AVENUE,10024.0,AMSTERDAM AVENUE,29752751
52423,2015,1,2015-01-01,WEST 84 STREET,WEST 85 STREET,AMSTERDAM AVENUE,10024.0,509 AMSTERDAM AVENUE,29751781

In [25]:
# Now, count each stripe's no. of complaints in each year.

count_low_sixties = df_low_sixties.groupby("Year").size()
count_high_sixties = df_high_sixties.groupby("Year").size()
count_low_seventies = df_low_seventies.groupby("Year").size()
count_high_seventies = df_high_seventies.groupby("Year").size()
count_eighties = df_eighties.groupby("Year").size()

In [26]:
print(df_low_sixties.columns.tolist())

['Year', 'Month', 'updated_date', 'Cross Street 1', 'Cross Street 2', 'Street Name', 'Incident Zip', 'Incident Address', 'Unique Key']

In [27]:
total_count = pd.concat([count_low_sixties.rename("61st-65th Streets"),
                         count_high_sixties.rename("66th-70th Streets"),
                         count_low_seventies.rename("71st-75th Streets"),
                         count_high_seventies.rename("76th-80th Streets"),
                         count_eighties.rename("81st-90th Streets")], axis = 1)

total_count

,61st-65th Streets,66th-70th Streets,71st-75th Streets,76th-80th Streets,81st-90th Streets
Year,,,,,
2015,1.0,8.0,10,9.0,20
2016,7.0,1.0,3,9.0,11
2017,2.0,5.0,4,4.0,18
2018,3.0,4.0,6,6.0,14
2019,3.0,6.0,14,19.0,23
2020,1.0,2.0,1,1.0,6
2022,1.0,1.0,15,2.0,15
2023,2.0,2.0,3,4.0,2
2021,NaN,2.0,4,5.0,9
2024,NaN,1.0,1,3.0,11
2025,NaN,NaN,1,NaN,7

In [101]:
jan_to_apr_graph = total_count.reset_index()
jan_to_apr_graph

,Year,61st-65th Streets,66th-70th Streets,71st-75th Streets,76th-80th Streets,81st-90th Streets
0,2015,1.0,8.0,10,9.0,20
1,2016,7.0,1.0,3,9.0,11
2,2017,2.0,5.0,4,4.0,18
3,2018,3.0,4.0,6,6.0,14
4,2019,3.0,6.0,14,19.0,23
5,2020,1.0,2.0,1,1.0,6
6,2022,1.0,1.0,15,2.0,15
7,2023,2.0,2.0,3,4.0,2
8,2021,NaN,2.0,4,5.0,9
9,2024,NaN,1.0,1,3.0,11
10,2025,NaN,NaN,1,NaN,7

In [103]:
jan_to_apr_graph.to_csv("jan_to_apr_graph.csv",index = True )

viz link- https://datawrapper.dwcdn.net/myxVG/1/ 

datawrapper link- https://app.datawrapper.de/edit/myxVG/publish

In [31]:
## Okay, so same result with jan-april months in all years. Let's check previous years for may-dec idling complaints. Are there more? 
## Maybe then this can be about predicting? or a warning?

In [32]:
## Like seasonal_df, create a df for may-dec months. Let's call it later_df 

df['updated_date'] = pd.to_datetime(df['updated_date'], format='%m/%Y') ## this converts the column to date-time format

later_df = df[df['updated_date'].dt.month.isin([5, 6, 7, 8, 9, 10, 11, 12])]
later_df

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location,Year,Month,updated_date
0,64837714,2025-05-03 11:59:00,NaN,DEP,Department of Environmental Protection,Air Quality,"Air: Odor/Fumes, Vehicle Idling (AD3)",NaN,10012.0,144 BLEECKER STREET,...,NaN,NaN,NaN,NaN,40.728155,-73.999152,"(40.7281548671045, -73.99915212570546)",2025,5,2025-05-01
1,64837178,2025-05-03 10:18:59,05/04/2025 12:20:20 AM,NYPD,New York City Police Department,Noise - Vehicle,Engine Idling,Street/Sidewalk,10033.0,547 WEST 180 STREET,...,NaN,NaN,NaN,NaN,40.848212,-73.933237,"(40.84821206532693, -73.93323679252005)",2025,5,2025-05-01
2,64832157,2025-05-03 10:15:22,05/03/2025 10:28:49 AM,NYPD,New York City Police Department,Noise - Vehicle,Engine Idling,Street/Sidewalk,10012.0,70 SPRING STREET,...,NaN,NaN,NaN,NaN,40.722473,-73.997554,"(40.72247319695122, -73.99755400100646)",2025,5,2025-05-01
3,64833109,2025-05-03 10:13:38,05/03/2025 10:28:45 AM,NYPD,New York City Police Department,Noise - Vehicle,Engine Idling,Street/Sidewalk,10012.0,70 SPRING STREET,...,NaN,NaN,NaN,NaN,40.722473,-73.997554,"(40.72247319695122, -73.99755400100646)",2025,5,2025-05-01
4,64832165,2025-05-03 10:11:12,05/03/2025 10:28:29 AM,NYPD,New York City Police Department,Noise - Vehicle,Engine Idling,Street/Sidewalk,10012.0,68 SPRING STREET,...,NaN,NaN,NaN,NaN,40.722443,-73.997482,"(40.72244300305546, -73.99748184878467)",2025,5,2025-05-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51612,30523807,2015-05-01 21:44:00,05/08/2015 11:45:00 PM,DEP,Department of Environmental Protection,Air Quality,"Air: Odor/Fumes, Vehicle Idling (AD3)",NaN,10036.0,312 WEST 47 STREET,...,NaN,NaN,NaN,NaN,40.760682,-73.988149,"(40.76068229090256, -73.98814923115948)",2015,5,2015-05-01
51613,30520885,2015-05-01 12:57:00,05/05/2015 03:15:00 PM,DEP,Department of Environmental Protection,Air Quality,"Air: Odor/Fumes, Vehicle Idling (AD3)",NaN,10036.0,7 TIMES SQUARE,...,NaN,NaN,NaN,NaN,40.755915,-73.986681,"(40.75591450946718, -73.98668102129851)",2015,5,2015-05-01
51614,30526464,2015-05-01 12:33:50,05/01/2015 02:45:59 PM,NYPD,New York City Police Department,Noise - Vehicle,Engine Idling,Street/Sidewalk,10023.0,175 WEST 72 STREET,...,NaN,NaN,NaN,NaN,40.778228,-73.980708,"(40.77822840740986, -73.98070808935198)",2015,5,2015-05-01
51615,30524690,2015-05-01 01:16:00,05/08/2015 11:30:00 PM,DEP,Department of Environmental Protection,Air Quality,"Air: Odor/Fumes, Vehicle Idling (AD3)",NaN,10006.0,91 WASHINGTON STREET,...,NaN,NaN,NaN,NaN,40.708038,-74.014442,"(40.708037619659365, -74.01444197507924)",2015,5,2015-05-01
51616,30518809,2015-05-01 00:21:25,05/01/2015 12:57:42 AM,NYPD,New York City Police Department,Noise - Vehicle,Engine Idling,Street/Sidewalk,10019.0,555 WEST 52 STREET,...,NaN,NaN,NaN,NaN,40.766705,-73.992679,"(40.76670463222893, -73.99267879001557)",2015,5,2015-05-01

In [33]:
## Now check how many complaints in each stripe in these later months-- repeat prev steps with later_df instead of seasonal_df

In [34]:
later_df_low_sixties = later_df[["Year", "Month", "updated_date", "Cross Street 1", "Cross Street 2", "Street Name", "Incident Zip", "Incident Address", "Unique Key"]].query \
                                    (" (`Street Name` in @north_south) \
                                    and ( (`Cross Street 1` in @low_sixties) \
                                     or  (`Cross Street 2` in @low_sixties) ) ")
later_df_low_sixties

,Year,Month,updated_date,Cross Street 1,Cross Street 2,Street Name,Incident Zip,Incident Address,Unique Key
2604,2024,10,2024-10-01,E 61 ST,E 62 ST,1 AVENUE,10065.0,1114 1 AVENUE,62887835
2608,2024,10,2024-10-01,E 61 ST,E 62 ST,1 AVENUE,10065.0,1114 1 AVENUE,62886476
9476,2023,8,2023-08-01,E 61 ST,E 62 ST,MADISON AVENUE,10065.0,680 MADISON AVENUE,58518673
14760,2022,11,2022-11-01,W 62 ST,W 64 ST,AMSTERDAM AVENUE,10023.0,111 AMSTERDAM AVENUE,56001583
15110,2022,11,2022-11-01,E 63 ST,E 64 ST,LEXINGTON AVENUE,10065.0,835 LEXINGTON AVENUE,55866375
15872,2022,9,2022-09-01,E 61 ST,E 62 ST,PARK AVENUE,10065.0,548 PARK AVENUE,55512152
18024,2022,6,2022-06-01,E 64 ST,E 65 ST,5 AVENUE,10065.0,833 5 AVENUE,54506168
26157,2021,8,2021-08-01,E 62 ST,E 63 ST,LEXINGTON AVENUE,10065.0,812 LEXINGTON AVENUE,51659329
27169,2021,7,2021-07-01,W 65 ST,W 66 ST,BROADWAY,10023.0,1949 BROADWAY,51218390
34965,2019,11,2019-11-01,E 61 ST,E 62 ST,1 AVENUE,10065.0,1114 1 AVENUE,45021575
35015,2019,11,2019-11-01,E 63 ST,E 64 ST,3 AVENUE,10065.0,1080 3 AVENUE,44982812
35091,2019,11,2019-11-01,E 61 ST,E 62 ST,1 AVENUE,10065.0,1114 1 AVENUE,44927923
35174,2019,11,2019-11-01,E 61 ST,E 62 ST,1 AVENUE,10065.0,1114 1 AVENUE,44652274
35203,2019,11,2019-11-01,E 61 ST,E 62 ST,PARK AVENUE,10065.0,535 PARK AVENUE,44400735
35358,2019,10,2019-10-01,E 61 ST,E 62 ST,PARK AVENUE,10065.0,553 PARK AVENUE,44118713
35409,2019,10,2019-10-01,E 62 ST,E 63 ST,MADISON AVENUE,10065.0,696 MADISON AVENUE,44066132
36695,2019,6,2019-06-01,W 62 ST,W 63 ST,CENTRAL PARK WEST,10023.0,25 CENTRAL PARK WEST,42994348
36863,2019,6,2019-06-01,E 64 ST,E 65 ST,5 AVENUE,10065.0,834 5 AVENUE,42869646
36866,2019,6,2019-06-01,E 61 ST,E 62 ST,5 AVENUE,10065.0,800 5 AVENUE,42862743
36867,2019,6,2019-06-01,E 61 ST,E 62 ST,5 AVENUE,10065.0,800 5 AVENUE,42866859
37037,2019,5,2019-05-01,WEST 62 STREET,WEST 64 STREET,AMSTERDAM AVENUE,10023.0,94 AMSTERDAM AVENUE,42736057
37041,2019,5,2019-05-01,COLUMBUS CIRCLE,WEST 61 STREET,CENTRAL PARK WEST,10023.0,1 CENTRAL PARK WEST,42739959
37186,2019,5,2019-05-01,COLUMBUS CIRCLE,WEST 61 STREET,CENTRAL PARK WEST,10023.0,1 CENTRAL PARK WEST,42632938
39062,2018,12,2018-12-01,W 64 ST,W 64 ST,WEST END AVENUE,10023.0,80 WEST END AVENUE,41116667
39063,2018,12,2018-12-01,W 64 ST,W 64 ST,WEST END AVENUE,10023.0,80 WEST END AVENUE,41114157
39796,2018,9,2018-09-01,WEST END AVENUE,WEST 63 STREET,WEST END AVENUE,10069.0,101 WEST END AVENUE,40359865
41023,2018,5,2018-05-01,E 64 ST,E 65 ST,2 AVENUE,10065.0,1226 2 AVENUE,39281860
43076,2017,11,2017-11-01,WEST END AVENUE,WEST 63 STREET,WEST END AVENUE,10069.0,101 WEST END AVENUE,37612742
43657,2017,9,2017-09-01,W 62 ST,W 63 ST,COLUMBUS AVENUE,10023.0,74 COLUMBUS AVENUE,37159428
43698,2017,9,2017-09-01,WEST 65 STREET,WEST 66 STREET,WEST END AVENUE,10023.0,130 WEST END AVENUE,37133356
46291,2016,12,2016-12-01,EAST 64 STREET,EAST 65 STREET,MADISON AVENUE,10065.0,743 MADISON AVENUE,35071477
46558,2016,11,2016-11-01,EAST 63 STREET,EAST 64 STREET,PARK AVENUE,10065.0,583 PARK AVENUE,34874739
46559,2016,11,2016-11-01,EAST 63 STREET,EAST 64 STREET,PARK AVENUE,10065.0,583 PARK AVENUE,34874051
48440,2016,5,2016-05-01,E 64 ST,E 65 ST,5 AVENUE,10065.0,833 5 AVENUE,33355620
49841,2015,12,2015-12-01,COLUMBUS CIRCLE,WEST 61 STREET,CENTRAL PARK WEST,10023.0,1 CENTRAL PARK WEST,32246117
49912,2015,12,2015-12-01,COLUMBUS CIRCLE,WEST 61 STREET,CENTRAL PARK WEST,10023.0,1 CENTRAL PARK WEST,32190450
49990,2015,12,2015-12-01,COLUMBUS CIRCLE,WEST 61 STREET,CENTRAL PARK WEST,10023.0,1 CENTRAL PARK WEST,32124673
49991,2015,12,2015-12-01,COLUMBUS CIRCLE,WEST 61 STREET,CENTRAL PARK WEST,10023.0,1 CENTRAL PARK WEST,32122617
49992,2015,12,2015-12-01,COLUMBUS CIRCLE,WEST 61 STREET,CENTRAL PARK WEST,10023.0,1 CENTRAL PARK WEST,32121534
49994,2015,12,2015-12-01,COLUMBUS CIRCLE,WEST 61 STREET,CENTRAL PARK WEST,10023.0,1 CENTRAL PARK WEST,32124644
49995,2015,12,2015-12-01,COLUMBUS CIRCLE,WEST 61 STREET,CENTRAL PARK WEST,10023.0,1 CENTRAL PARK WEST,32125734
50032,2015,11,2015-11-01,COLUMBUS CIRCLE,WEST 61 STREET,CENTRAL PARK WEST,10023.0,1 CENTRAL PARK WEST,32089808
50033,2015,11,2015-11-01,COLUMBUS CIRCLE,WEST 61 STREET,CENTRAL PARK WEST,10023.0,1 CENTRAL PARK WEST,32092435
50034,2015,11,2015-11-01,COLUMBUS CIRCLE,WEST 61 STREET,CENTRAL PARK WEST,10023.0,1 CENTRAL PARK WEST,32091723
50037,2015,11,2015-11-01,COLUMBUS CIRCLE,WEST 61 STREET,CENTRAL PARK WEST,10023.0,1 CENTRAL PARK WEST,32087819
51449,2015,5,2015-05-01,WEST 65 STREET,WEST 66 STREET,BROADWAY,10023.0,1961 BROADWAY,30651905

In [35]:
later_df_high_sixties = later_df[["Year", "Month", "updated_date","Cross Street 1", "Cross Street 2", "Street Name", "Incident Zip", "Incident Address", "Unique Key"]].query(" (`Street Name` in @north_south) \
                                    and ( (`Cross Street 1` in @high_sixties) \
                                     or  (`Cross Street 2` in @high_sixties) ) ")
later_df_high_sixties

,Year,Month,updated_date,Cross Street 1,Cross Street 2,Street Name,Incident Zip,Incident Address,Unique Key
15119,2022,11,2022-11-01,E 69 ST,E 70 ST,MADISON AVENUE,10021.0,835 MADISON AVENUE,55867552
16549,2022,8,2022-08-01,W 67 ST,W 68 ST,BROADWAY,10023.0,1981 BROADWAY,55186630
16879,2022,8,2022-08-01,E 70 ST,E 71 ST,1 AVENUE,10021.0,1304 1 AVENUE,55043156
17458,2022,7,2022-07-01,W 68 ST,W 69 ST,BROADWAY,10023.0,2005 BROADWAY,54762857
17505,2022,7,2022-07-01,E 70 ST,E 71 ST,3 AVENUE,10021.0,1215 3 AVENUE,54727525
...,...,...,...,...,...,...,...,...,...
51220,2015,6,2015-06-01,EAST 68 STREET,EAST 69 STREET,1 AVENUE,10065.0,1270 1 AVENUE,30901279
51449,2015,5,2015-05-01,WEST 65 STREET,WEST 66 STREET,BROADWAY,10023.0,1961 BROADWAY,30651905
51494,2015,5,2015-05-01,EAST 70 STREET,EAST 71 STREET,1 AVENUE,10021.0,1315 1 AVENUE,30600629
51509,2015,5,2015-05-01,WEST 67 STREET,WEST 68 STREET,BROADWAY,10023.0,1991 BROADWAY,30586780
51607,2015,5,2015-05-01,E 70 ST,E 71 ST,3 AVENUE,10003.0,121 3 AVENUE,30529919

In [36]:
later_df_low_seventies = later_df[["Year", "Month","updated_date","Cross Street 1", "Cross Street 2", "Street Name", "Incident Zip", "Incident Address", "Unique Key"]].query(" (`Street Name` in @north_south) \
                                    and ( (`Cross Street 1` in @low_seventies) \
                                     or  (`Cross Street 2` in @low_seventies) ) ")
later_df_low_seventies

,Year,Month,updated_date,Cross Street 1,Cross Street 2,Street Name,Incident Zip,Incident Address,Unique Key
3246,2024,9,2024-09-01,BEND,W 74 ST,BROADWAY,10023.0,2100 BROADWAY,62361714
3395,2024,8,2024-08-01,E 75 ST,E 76 ST,5 AVENUE,10021.0,945 5 AVENUE,62242216
4066,2024,7,2024-07-01,E 71 ST,E 72 ST,5 AVENUE,10021.0,905 5 AVENUE,61666022
9477,2023,8,2023-08-01,W 75 ST,W 76 ST,COLUMBUS AVENUE,10023.0,328 COLUMBUS AVENUE,58521246
9517,2023,8,2023-08-01,BEND,W 74 ST,BROADWAY,10023.0,2100 BROADWAY,58486127
...,...,...,...,...,...,...,...,...,...
50697,2015,9,2015-09-01,WEST 73 STREET,WEST 74 STREET,AMSTERDAM AVENUE,10023.0,AMSTERDAM AVENUE,31477410
51494,2015,5,2015-05-01,EAST 70 STREET,EAST 71 STREET,1 AVENUE,10021.0,1315 1 AVENUE,30600629
51552,2015,5,2015-05-01,WEST 70 STREET,WEST 71 STREET,WEST END AVENUE,10023.0,230 WEST END AVENUE,30569842
51553,2015,5,2015-05-01,WEST 70 STREET,WEST 71 STREET,WEST END AVENUE,10023.0,230 WEST END AVENUE,30566454
51607,2015,5,2015-05-01,E 70 ST,E 71 ST,3 AVENUE,10003.0,121 3 AVENUE,30529919

In [37]:
later_df_high_seventies = later_df[["Year", "Month","updated_date", "Cross Street 1", "Cross Street 2", "Street Name", "Incident Zip", "Incident Address", "Unique Key"]].query(" (`Street Name` in @north_south) \
                                    and ( (`Cross Street 1` in @high_seventies) \
                                     or  (`Cross Street 2` in @high_seventies) ) ")
later_df_high_seventies

,Year,Month,updated_date,Cross Street 1,Cross Street 2,Street Name,Incident Zip,Incident Address,Unique Key
23,2025,5,2025-05-01,E 77 ST,E 78 ST,2 AVENUE,10075.0,1486 2 AVENUE,64825569
3395,2024,8,2024-08-01,E 75 ST,E 76 ST,5 AVENUE,10021.0,945 5 AVENUE,62242216
7056,2023,12,2023-12-01,E 76 ST,E 77 ST,1 AVENUE,10075.0,1471 1 AVENUE,59869733
7567,2023,11,2023-11-01,E 77 ST,E 78 ST,MADISON AVENUE,10075.0,1000 MADISON AVENUE,59598267
8294,2023,10,2023-10-01,E 77 ST,E 78 ST,MADISON AVENUE,10075.0,1000 MADISON AVENUE,59156202
...,...,...,...,...,...,...,...,...,...
51114,2015,7,2015-07-01,W 80 ST,W 81 ST,BROADWAY,10024.0,2250 BROADWAY,31007042
51434,2015,5,2015-05-01,WEST 78 STREET,WEST 79 STREET,COLUMBUS AVENUE,10024.0,386 COLUMBUS AVENUE,30665389
51452,2015,5,2015-05-01,E 76 ST,E 77 ST,3 AVENUE,10003.0,132 3 AVENUE,30648998
51477,2015,5,2015-05-01,WEST 77 STREET,WEST 78 STREET,COLUMBUS AVENUE,10024.0,370 COLUMBUS AVENUE,30624439
51590,2015,5,2015-05-01,WEST 77 STREET,WEST 78 STREET,COLUMBUS AVENUE,10024.0,370 COLUMBUS AVENUE,30541113

In [38]:
later_df_eighties = later_df[["Year", "Month", "updated_date", "Cross Street 1", "Cross Street 2", "Street Name", "Incident Zip", "Incident Address", "Unique Key"]].query(" (`Street Name` in @north_south) \
                                    and ( (`Cross Street 1` in @eighties) \
                                     or  (`Cross Street 2` in @eighties) ) ")
later_df_eighties

,Year,Month,updated_date,Cross Street 1,Cross Street 2,Street Name,Incident Zip,Incident Address,Unique Key
2567,2024,10,2024-10-01,E 88 ST,E 89 ST,1 AVENUE,10128.0,1705 1 AVENUE,62921766
3204,2024,9,2024-09-01,E 81 ST,E 82 ST,LEXINGTON AVENUE,10028.0,1205 LEXINGTON AVENUE,62398805
3238,2024,9,2024-09-01,E 90 ST,E 91 ST,LEXINGTON AVENUE,10128.0,1377 LEXINGTON AVENUE,62384429
3802,2024,7,2024-07-01,E 88 ST,E 89 ST,1 AVENUE,10128.0,1701 1 AVENUE,61893668
4488,2024,5,2024-05-01,E 90 ST,E 91 ST,LEXINGTON AVENUE,10128.0,1364 LEXINGTON AVENUE,61320042
...,...,...,...,...,...,...,...,...,...
51295,2015,6,2015-06-01,EAST 87 STREET,EAST 88 STREET,3 AVENUE,10128.0,1551 3 AVENUE,30826831
51437,2015,5,2015-05-01,EAST 85 STREET,EAST 86 STREET,2 AVENUE,10028.0,1645 2 AVENUE,30653155
51479,2015,5,2015-05-01,E 88 ST,E 89 ST,5 AVENUE,10128.0,1071 5 AVENUE,30626485
51598,2015,5,2015-05-01,W 88 ST,W 89 ST,AMSTERDAM AVENUE,10024.0,595 AMSTERDAM AVENUE,30538667
51611,2015,5,2015-05-01,W 84 ST,W 85 ST,COLUMBUS AVENUE,10023.0,49 COLUMBUS AVENUE,30522890

In [39]:
# Now, count each stripe's no. of complaints in each year- in the later months.

later_count_low_sixties = later_df_low_sixties.groupby("Year").size()
later_count_high_sixties = later_df_high_sixties.groupby("Year").size()
later_count_low_seventies = later_df_low_seventies.groupby("Year").size()
later_count_high_seventies = later_df_high_seventies.groupby("Year").size()
later_count_eighties = later_df_eighties.groupby("Year").size()

In [40]:
later_total_count = pd.concat([later_count_low_sixties.rename("61st-65th Streets"),
                         later_count_high_sixties.rename("66th-70th Streets"),
                         later_count_low_seventies.rename("71st-75th Streets"),
                         later_count_high_seventies.rename("76th-80th Streets"),
                         later_count_eighties.rename("81st-90th Streets")], axis = 1)

later_total_count

,61st-65th Streets,66th-70th Streets,71st-75th Streets,76th-80th Streets,81st-90th Streets
Year,,,,,
2015,12.0,10.0,9.0,15,32.0
2016,4.0,6.0,14.0,10,33.0
2017,3.0,21.0,7.0,12,43.0
2018,4.0,8.0,12.0,20,40.0
2019,14.0,16.0,7.0,12,17.0
2021,2.0,2.0,7.0,8,25.0
2022,4.0,7.0,9.0,9,16.0
2023,1.0,NaN,5.0,11,14.0
2024,2.0,NaN,3.0,1,8.0
2020,NaN,5.0,5.0,3,24.0
2025,NaN,NaN,NaN,1,NaN

In [97]:
may_to_dec_graph = later_total_count.reset_index()
may_to_dec_graph

,Year,61st-65th Streets,66th-70th Streets,71st-75th Streets,76th-80th Streets,81st-90th Streets
0,2015,12.0,10.0,9.0,15,32.0
1,2016,4.0,6.0,14.0,10,33.0
2,2017,3.0,21.0,7.0,12,43.0
3,2018,4.0,8.0,12.0,20,40.0
4,2019,14.0,16.0,7.0,12,17.0
5,2021,2.0,2.0,7.0,8,25.0
6,2022,4.0,7.0,9.0,9,16.0
7,2023,1.0,NaN,5.0,11,14.0
8,2024,2.0,NaN,3.0,1,8.0
9,2020,NaN,5.0,5.0,3,24.0
10,2025,NaN,NaN,NaN,1,NaN

In [99]:
may_to_dec_graph.to_csv("may_to_dec_graph.csv",index = True )

viz link for later months- https://datawrapper.dwcdn.net/CPbSN/1/

datawrapper link for later months- https://app.datawrapper.de/edit/CPbSN/publish