In [1]:
import pandas as pd

In [2]:
## idling summons issued and filed at the OATH Hearings Division by City enforcement agencies from 1/1/15 to 5/5/25
## filtered for dates and violation location (borough)- Manhattan
df = pd.read_csv("oath-data.csv")
df

/var/folders/7k/dkrw1dkn70xb44njcjrldx2w0000gn/T/ipykernel_44818/2414511300.py:3: DtypeWarning: Columns (20,31,32,37,43,46,47,48) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("oath-data.csv")

,Ticket Number,Violation Date,Violation Time,Issuing Agency,Respondent First Name,Respondent Last Name,Balance Due,Violation Location (Borough),Violation Location (Block No.),Violation Location (Lot No.),...,Charge #8: Code Description,Charge #8: Infraction Amount,Charge #9: Code,Charge #9: Code Section,Charge #9: Code Description,Charge #9: Infraction Amount,Charge #10: Code,Charge #10: Code Section,Charge #10: Code Description,Charge #10: Infraction Amount
0,048990200J,04/15/2025,03:39:00,SANITATION PIU,NaN,NaN,350.0,MANHATTAN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,048989803K,03/28/2025,00:04:00,SANITATION COMMERC.WASTE ZONE,SHELDON,DAVIS,350.0,MANHATTAN,2095.0,31.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,000929778L,03/25/2025,17:31:00,DEP - BUREAU OF ENV. COMPLIANC,CES LLC,VERIZON BUSINESS NETWORK SERVI,600.0,MANHATTAN,804.0,34.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,000931723R,03/19/2025,15:30:00,DEP - BUREAU OF ENV. COMPLIANC,NaN,RYDER TRUCK RENTAL LT,350.0,MANHATTAN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,000927838P,03/14/2025,09:30:00,DEP - BUREAU OF ENV. COMPLIANC,NaN,NaN,600.0,MANHATTAN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164993,000406747X,04/21/2015,06:33:00,DEP - BUREAU OF ENV. COMPLIANC,INC,SPECIALTY TRUCKING EQUIPMENT,NaN,MANHATTAN,202.0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164994,000406704X,04/09/2015,21:32:00,DEP - BUREAU OF ENV. COMPLIANC,NaN,ARIEL CIRO COTRINA,455.0,MANHATTAN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164995,000404238Z,03/27/2015,16:15:00,DEP - BUREAU OF ENV. COMPLIANC,NaN,AMERICAN TOUR TRAVEL INC,0.0,MANHATTAN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164996,0180238282,03/25/2015,16:15:00,NYPD TRANSPORT INTELLIGENCE DI,PHILIP C H,MARCOR ELLE,0.0,MANHATTAN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164997,0185720664,02/11/2015,19:50:00,POLICE DEPT,KOKEYNA,ALI,NaN,MANHATTAN,513.0,7503.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164998 entries, 0 to 164997
Data columns (total 78 columns):
 #   Column                                                           Non-Null Count   Dtype
---  ------                                                           --------------   -----
 0   Ticket Number                                                    164998 non-null  object
 1   Violation Date                                                   164998 non-null  object
 2   Violation Time                                                   164998 non-null  object
 3   Issuing Agency                                                   164994 non-null  object
 4   Respondent First Name                                            34687 non-null   object
 5   Respondent Last Name                                             152447 non-null  object
 6   Balance Due                                                      164886 non-null  float64
 7   Violation Location (Borough)                                     164998 non-null  object
 8   Violation Location (Block No.)                                   84485 non-null   float64
 9   Violation Location (Lot No.)                                     84523 non-null   float64
 10  Violation Location (House #)                                     91807 non-null   object
 11  Violation Location (Street Name)                                 164991 non-null  object
 12  Violation Location (Floor)                                       0 non-null       float64
 13  Violation Location (City)                                        164984 non-null  object
 14  Violation Location (Zip Code)                                    164164 non-null  float64
 15  Violation Location (State Name)                                  164995 non-null  object
 16  Respondent Address (Borough)                                     164939 non-null  object
 17  Respondent Address (House #)                                     163741 non-null  object
 18  Respondent Address (Street Name)                                 164994 non-null  object
 19  Respondent Address (City)                                        164957 non-null  object
 20  Respondent Address (Zip Code)                                    164868 non-null  object
 21  Respondent Address (State Name)                                  164876 non-null  object
 22  Hearing Status                                                   164995 non-null  object
 23  Hearing Result                                                   129044 non-null  object
 24  Scheduled Hearing Location                                       164972 non-null  object
 25  Hearing Date                                                     164994 non-null  object
 26  Hearing Time                                                     164998 non-null  object
 27  Decision Location (Borough)                                      49502 non-null   object
 28  Decision Date                                                    91565 non-null   object
 29  Total Violation Amount                                           164998 non-null  float64
 30  Violation Details                                                162472 non-null  object
 31  Date Judgment Docketed                                           8196 non-null    object
 32  Respondent Address or Facility Number(For FDNY and DOB Tickets)  182 non-null     object
 33  Penalty Imposed                                                  164980 non-null  float64
 34  Paid Amount                                                      164980 non-null  float64
 35  Additional Penalties or Late Fees                                164891 non-null  float64
 36  Compliance Status                                                164920 non-null  object
 37  Violation Description                                            110 non-null     object
 38  Charge #1: Code                                                  164998 non-null  object
 39  Charge #1: Code Section                                          164998 non-null  object
 40  Charge #1: Code Description                                      164998 non-null  object
 41  Charge #1: Infraction Amount                                     164998 non-null  float64
 42  Charge #2: Code                                                  289 non-null     object
 43  Charge #2: Code Section                                          288 non-null     object
 44  Charge #2: Code Description                                      288 non-null     object
 45  Charge #2: Infraction Amount                                     351 non-null     float64
 46  Charge #3: Code                                                  1 non-null       object
 47  Charge #3: Code Section                                          1 non-null       object
 48  Charge #3: Code Description                                      1 non-null       object
 49  Charge #3: Infraction Amount                                     3 non-null       float64
 50  Charge #4: Code                                                  0 non-null       float64
 51  Charge #4: Code Section                                          0 non-null       float64
 52  Charge #4: Code Description                                      0 non-null       float64
 53  Charge #4: Infraction Amount                                     0 non-null       float64
 54  Charge #5: Code                                                  0 non-null       float64
 55  Charge #5: Code Section                                          0 non-null       float64
 56  Charge #5: Code Description                                      0 non-null       float64
 57  Charge #5: Infraction Amount                                     0 non-null       float64
 58  Charge #6: Code                                                  0 non-null       float64
 59  Charge #6: Code Section                                          0 non-null       float64
 60  Charge #6: Code Description                                      0 non-null       float64
 61  Charge #6: Infraction Amount                                     0 non-null       float64
 62  Charge #7: Code                                                  0 non-null       float64
 63  Charge #7: Code Section                                          0 non-null       float64
 64  Charge #7: Code Description                                      0 non-null       float64
 65  Charge #7: Infraction Amount                                     0 non-null       float64
 66  Charge #8: Code                                                  0 non-null       float64
 67  Charge #8: Code Section                                          0 non-null       float64
 68  Charge #8: Code Description                                      0 non-null       float64
 69  Charge #8: Infraction Amount                                     0 non-null       float64
 70  Charge #9: Code                                                  0 non-null       float64
 71  Charge #9: Code Section                                          0 non-null       float64
 72  Charge #9: Code Description                                      0 non-null       float64
 73  Charge #9: Infraction Amount                                     0 non-null       float64
 74  Charge #10: Code                                                 0 non-null       float64
 75  Charge #10: Code Section                                         0 non-null       float64
 76  Charge #10: Code Description                                     0 non-null       float64
 77  Charge #10: Infraction Amount                                    0 non-null       float64
dtypes: float64(40), object(38)
memory usage: 98.2+ MB

In [4]:
df.value_counts("Respondent Last Name")

Respondent Last Name
CONSOLIDATED EDISON COMPANY OF    10466
VERIZON BUSINESS NETWORK SERVI     6913
AMAZON LOGISTICS INC               2625
GO NEW YORK TOURS INC              2112
MERCHANTS AUTOMOTIVE GROUP INC     1956
                                  ...
I.F.M.CONTRACTING INC                 1
IA CONSTRUCTION MANAGEMENT IN         1
IA CONSTRUCTION MANAGEMENT INC        1
IANA LEAS I NG INC                    1
[FLORESTA]                            1
Name: count, Length: 25947, dtype: int64

In [5]:
## extract the year from the violation date column

df["Violation Date"] = pd.to_datetime(df["Violation Date"], errors="coerce")

df["Year"] = df["Violation Date"].dt.year
df["Year"]

0         2025
1         2025
2         2025
3         2025
4         2025
          ...
164993    2015
164994    2015
164995    2015
164996    2015
164997    2015
Name: Year, Length: 164998, dtype: int32

In [6]:
df["Violation Date"] = pd.to_datetime(df["Violation Date"], errors="coerce")

df["Month"] = df["Violation Date"].dt.month
df["Month"]

0         4
1         3
2         3
3         3
4         3
         ..
164993    4
164994    4
164995    3
164996    3
164997    2
Name: Month, Length: 164998, dtype: int32

In [7]:
#list to remove other columns 
df.head()[["Year", "Month", "Violation Location (Zip Code)", "Violation Location (Street Name)", "Charge #1: Code Description", "Ticket Number"]]

,Year,Month,Violation Location (Zip Code),Violation Location (Street Name),Charge #1: Code Description,Ticket Number
0,2025,4,NaN,WEST 49 STREET,IDLING OF MOTOR VEHICLE ENGINE MORE THAN THREE...,048990200J
1,2025,3,10031.0,BROADWAY,IDLING OF MOTOR VEHICLE ENGINE MORE THAN THREE...,048989803K
2,2025,3,10001.0,AVENUE OF THE AMERICAS,IDLING OF MOTOR VEHICLE ENGINE MORE THAN THREE...,000929778L
3,2025,3,10021.0,ON EAST 71ST STREET BETWEEN,IDLING OF MOTOR VEHICLE ENGINE MORE THAN THREE...,000931723R
4,2025,3,10014.0,ON CHARLTON STBETWEEN 6TH AV,IDLING OF MOTOR VEHICLE ENGINE MORE THAN THREE...,000927838P

In [8]:
## combining month and year 

df["updated_date"] = df.apply(lambda x: f"{x['Month']:02d}/{str(x['Year'])}", axis=1)
df

,Ticket Number,Violation Date,Violation Time,Issuing Agency,Respondent First Name,Respondent Last Name,Balance Due,Violation Location (Borough),Violation Location (Block No.),Violation Location (Lot No.),...,Charge #9: Code Section,Charge #9: Code Description,Charge #9: Infraction Amount,Charge #10: Code,Charge #10: Code Section,Charge #10: Code Description,Charge #10: Infraction Amount,Year,Month,updated_date
0,048990200J,2025-04-15,03:39:00,SANITATION PIU,NaN,NaN,350.0,MANHATTAN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,4,04/2025
1,048989803K,2025-03-28,00:04:00,SANITATION COMMERC.WASTE ZONE,SHELDON,DAVIS,350.0,MANHATTAN,2095.0,31.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,3,03/2025
2,000929778L,2025-03-25,17:31:00,DEP - BUREAU OF ENV. COMPLIANC,CES LLC,VERIZON BUSINESS NETWORK SERVI,600.0,MANHATTAN,804.0,34.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,3,03/2025
3,000931723R,2025-03-19,15:30:00,DEP - BUREAU OF ENV. COMPLIANC,NaN,RYDER TRUCK RENTAL LT,350.0,MANHATTAN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,3,03/2025
4,000927838P,2025-03-14,09:30:00,DEP - BUREAU OF ENV. COMPLIANC,NaN,NaN,600.0,MANHATTAN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,3,03/2025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164993,000406747X,2015-04-21,06:33:00,DEP - BUREAU OF ENV. COMPLIANC,INC,SPECIALTY TRUCKING EQUIPMENT,NaN,MANHATTAN,202.0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,4,04/2015
164994,000406704X,2015-04-09,21:32:00,DEP - BUREAU OF ENV. COMPLIANC,NaN,ARIEL CIRO COTRINA,455.0,MANHATTAN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,4,04/2015
164995,000404238Z,2015-03-27,16:15:00,DEP - BUREAU OF ENV. COMPLIANC,NaN,AMERICAN TOUR TRAVEL INC,0.0,MANHATTAN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,3,03/2015
164996,0180238282,2015-03-25,16:15:00,NYPD TRANSPORT INTELLIGENCE DI,PHILIP C H,MARCOR ELLE,0.0,MANHATTAN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,3,03/2015
164997,0185720664,2015-02-11,19:50:00,POLICE DEPT,KOKEYNA,ALI,NaN,MANHATTAN,513.0,7503.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,2,02/2015

In [9]:
## adding seasonal df that includes data for only jan-apr  

df['updated_date'] = pd.to_datetime(df['updated_date'], format='%m/%Y') ## this converts the column to date-time format
seasonal_df = df[df['updated_date'].dt.month.isin([1, 2, 3, 4])]
seasonal_df

,Ticket Number,Violation Date,Violation Time,Issuing Agency,Respondent First Name,Respondent Last Name,Balance Due,Violation Location (Borough),Violation Location (Block No.),Violation Location (Lot No.),...,Charge #9: Code Section,Charge #9: Code Description,Charge #9: Infraction Amount,Charge #10: Code,Charge #10: Code Section,Charge #10: Code Description,Charge #10: Infraction Amount,Year,Month,updated_date
0,048990200J,2025-04-15,03:39:00,SANITATION PIU,NaN,NaN,350.0,MANHATTAN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,4,2025-04-01
1,048989803K,2025-03-28,00:04:00,SANITATION COMMERC.WASTE ZONE,SHELDON,DAVIS,350.0,MANHATTAN,2095.0,31.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,3,2025-03-01
2,000929778L,2025-03-25,17:31:00,DEP - BUREAU OF ENV. COMPLIANC,CES LLC,VERIZON BUSINESS NETWORK SERVI,600.0,MANHATTAN,804.0,34.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,3,2025-03-01
3,000931723R,2025-03-19,15:30:00,DEP - BUREAU OF ENV. COMPLIANC,NaN,RYDER TRUCK RENTAL LT,350.0,MANHATTAN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,3,2025-03-01
4,000927838P,2025-03-14,09:30:00,DEP - BUREAU OF ENV. COMPLIANC,NaN,NaN,600.0,MANHATTAN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,3,2025-03-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164993,000406747X,2015-04-21,06:33:00,DEP - BUREAU OF ENV. COMPLIANC,INC,SPECIALTY TRUCKING EQUIPMENT,NaN,MANHATTAN,202.0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,4,2015-04-01
164994,000406704X,2015-04-09,21:32:00,DEP - BUREAU OF ENV. COMPLIANC,NaN,ARIEL CIRO COTRINA,455.0,MANHATTAN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,4,2015-04-01
164995,000404238Z,2015-03-27,16:15:00,DEP - BUREAU OF ENV. COMPLIANC,NaN,AMERICAN TOUR TRAVEL INC,0.0,MANHATTAN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,3,2015-03-01
164996,0180238282,2015-03-25,16:15:00,NYPD TRANSPORT INTELLIGENCE DI,PHILIP C H,MARCOR ELLE,0.0,MANHATTAN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,3,2015-03-01
164997,0185720664,2015-02-11,19:50:00,POLICE DEPT,KOKEYNA,ALI,NaN,MANHATTAN,513.0,7503.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,2,2015-02-01

In [10]:
## using zip codes because street data is a bit confusing- doesn't have cross-street info (some mentioned within the col, some don't, some\
#incomplete- for eg 'on columbus avenue between w'), it doesn't follow any naming conventions, some street names are without proper 
#spaces etc. 

##low- looking close to congestion zone- 10069, 10065, 10023

low_seasonal_df = seasonal_df[["Year", "Month", "updated_date", "Violation Location (Zip Code)", "Violation Location (Street Name)", \
                               "Charge #1: Code Description", "Ticket Number"]].query("`Violation Location (Zip Code)` == 10069.0 or \
                                `Violation Location (Zip Code)` == 10065.0 or `Violation Location (Zip Code)` == 10023.0")
low_seasonal_df

,Year,Month,updated_date,Violation Location (Zip Code),Violation Location (Street Name),Charge #1: Code Description,Ticket Number
149,2025,2,2025-02-01,10023.0,ON COLUMBUS AVENUE BETWEEN W,IDLING OF MOTOR VEHICLE ENGINE MORE THAN THREE...,000926230M
482,2025,2,2025-02-01,10023.0,ON WEST 66TH STREET BETWEEN,IDLING OF MOTOR VEHICLE ENGINE MORE THAN THREE...,000922300K
589,2025,2,2025-02-01,10023.0,WEST 72 STREET,IDLING OF MOTOR VEHICLE ENGINE MORE THAN THREE...,000922318Z
986,2025,1,2025-01-01,10023.0,ON COLUMBUS AVENUE BETWEEN W,IDLING OF MOTOR VEHICLE ENGINE MORE THAN THREE...,000923119K
2074,2025,1,2025-01-01,10023.0,INTERSECTION OF COLUMBUS AVE,IDLING OF MOTOR VEHICLE ENGINE MORE THAN THREE...,000924811L
...,...,...,...,...,...,...,...
164665,2018,1,2018-01-01,10023.0,CENTRAL PARK WEST,IDLING OF MOTOR VEHICLE ENGINE MORE THAN THREE...,000419196L
164673,2018,1,2018-01-01,10023.0,AMSTERDAM AVENUE,IDLING OF MOTOR VEHICLE ENGINE MORE THAN THREE...,000420001K
164674,2018,1,2018-01-01,10023.0,AMSTERDAM AVENUE,IDLING OF MOTOR VEHICLE ENGINE MORE THAN THREE...,000416374L
164675,2018,1,2018-01-01,10023.0,WEST 74 STREET,IDLING OF MOTOR VEHICLE ENGINE MORE THAN THREE...,000420148P
164782,2017,4,2017-04-01,10023.0,BROADWAY,IDLING OF MOTOR VEHICLE ENGINE MORE THAN THREE...,000416922N

In [11]:
## mid zip codes- 10021, 10023
mid_seasonal_df = seasonal_df[["Year", "Month", "updated_date", "Violation Location (Zip Code)", "Violation Location (Street Name)", \
                               "Charge #1: Code Description", "Ticket Number"]].query("`Violation Location (Zip Code)` == 10023.0 or \
                                `Violation Location (Zip Code)` == 10021.0")
mid_seasonal_df

,Year,Month,updated_date,Violation Location (Zip Code),Violation Location (Street Name),Charge #1: Code Description,Ticket Number
3,2025,3,2025-03-01,10021.0,ON EAST 71ST STREET BETWEEN,IDLING OF MOTOR VEHICLE ENGINE MORE THAN THREE...,000931723R
149,2025,2,2025-02-01,10023.0,ON COLUMBUS AVENUE BETWEEN W,IDLING OF MOTOR VEHICLE ENGINE MORE THAN THREE...,000926230M
482,2025,2,2025-02-01,10023.0,ON WEST 66TH STREET BETWEEN,IDLING OF MOTOR VEHICLE ENGINE MORE THAN THREE...,000922300K
589,2025,2,2025-02-01,10023.0,WEST 72 STREET,IDLING OF MOTOR VEHICLE ENGINE MORE THAN THREE...,000922318Z
986,2025,1,2025-01-01,10023.0,ON COLUMBUS AVENUE BETWEEN W,IDLING OF MOTOR VEHICLE ENGINE MORE THAN THREE...,000923119K
...,...,...,...,...,...,...,...
164665,2018,1,2018-01-01,10023.0,CENTRAL PARK WEST,IDLING OF MOTOR VEHICLE ENGINE MORE THAN THREE...,000419196L
164673,2018,1,2018-01-01,10023.0,AMSTERDAM AVENUE,IDLING OF MOTOR VEHICLE ENGINE MORE THAN THREE...,000420001K
164674,2018,1,2018-01-01,10023.0,AMSTERDAM AVENUE,IDLING OF MOTOR VEHICLE ENGINE MORE THAN THREE...,000416374L
164675,2018,1,2018-01-01,10023.0,WEST 74 STREET,IDLING OF MOTOR VEHICLE ENGINE MORE THAN THREE...,000420148P
164782,2017,4,2017-04-01,10023.0,BROADWAY,IDLING OF MOTOR VEHICLE ENGINE MORE THAN THREE...,000416922N

In [12]:
## high zip codes- 10028, 10024
high_seasonal_df = seasonal_df[["Year", "Month", "updated_date", "Violation Location (Zip Code)", "Violation Location (Street Name)", \
                               "Charge #1: Code Description", "Ticket Number"]].query("`Violation Location (Zip Code)` == 10028.0 or \
                                `Violation Location (Zip Code)` == 10024.0")
high_seasonal_df

,Year,Month,updated_date,Violation Location (Zip Code),Violation Location (Street Name),Charge #1: Code Description,Ticket Number
260,2025,2,2025-02-01,10024.0,ON BROADWAYBETWEEN W 86TH ST,IDLING OF MOTOR VEHICLE ENGINE OVER 1MIN WHILE...,000928518K
2089,2025,1,2025-01-01,10024.0,BROADWAY,IDLING MOTOR VEHICLE ENGIN OVER 1MIN WHILE ADJ...,000925198R
3816,2025,1,2025-01-01,10024.0,COLUMBUS AVENUE,IDLING OF MOTOR VEHICLE ENGINE MORE THAN THREE...,000924757J
3841,2025,1,2025-01-01,10024.0,ON BROADWAY BETWEEN WEST 79T,IDLING OF MOTOR VEHICLE ENGINE MORE THAN THREE...,000920482L
3849,2025,1,2025-01-01,10024.0,ON WEST 86TH STREET BETWEEN,IDLING OF MOTOR VEHICLE ENGINE MORE THAN THREE...,000921634X
...,...,...,...,...,...,...,...
163469,2019,1,2019-01-01,10024.0,WEST 87 STREET,IDLING OF MOTOR VEHICLE ENGINE MORE THAN THREE...,000419906R
163481,2019,1,2019-01-01,10024.0,BROADWAY,IDLING OF MOTOR VEHICLE ENGINE MORE THAN THREE...,000419211K
163484,2019,1,2019-01-01,10024.0,AMSTERDAM AVENUE,IDLING OF MOTOR VEHICLE ENGINE MORE THAN THREE...,000419208J
163485,2019,1,2019-01-01,10024.0,COLUMBUS AVENUE,IDLING OF MOTOR VEHICLE ENGINE MORE THAN THREE...,000419207H
164938,2016,4,2016-04-01,10024.0,WEST 79 STREET,IDLING MOTOR VEHIC ENGIN OVER 1MIN WHILE ADJA ...,000409852L

In [13]:
## counting complaints in low, mid and high streets from jan-april in each year. 
## sort_index- prev it showed 2016 last

count_low = low_seasonal_df.groupby("Year").size()
count_mid = mid_seasonal_df.groupby("Year").size()
count_high = high_seasonal_df.groupby("Year").size()

total_count = pd.concat([count_low.rename("lower streets"),
                        count_mid.rename("middle streets"),
                        count_high.rename("higher streets")], axis = 1).sort_index()
total_count.reset_index()

   Year  lower streets  middle streets  higher streets
0  2016            NaN             NaN             1.0
1  2017            1.0             1.0             NaN
2  2018            7.0             7.0             NaN
3  2019           63.0            62.0            51.0
4  2020          357.0           317.0            31.0
5  2021          177.0           183.0            57.0
6  2022          422.0           423.0           258.0
7  2023          821.0           772.0           465.0
8  2024          963.0           957.0           564.0
9  2025           12.0            13.0             8.0

In [14]:
## download for datawrapper
total_count.to_csv("oath-findings.csv",index = True )

In [15]:
## what I found- source was right in that there are more complaints in middtown than upper manhattan 
## - congestion pricing worked for idling? in 2025 there is suddenly less idling?